h1 {
    margin: 0;
    padding: 0;
}

html, body, .app {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100vh;
}

.billform {
    margin-left: 30px;
}

.billform-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.billform_inner {
    width: 360px;
    height: 470px;
    position: absolute;
    margin-left: 500px;
    margin-top: 120px;
    background: #17252A;
    color: #ddd;
    font-size: 14px;
}

.billform_inner input[type="text"], .billform_inner input[type="number"], .billform_inner input[type="date"], .billform_inner select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
    color: #FFFFFF;
    margin: -10px;
}

.billform_inner h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    font-size: 22px;
    font-weight: 100;
    padding-top: 30px;
    margin: 0;
}

.billform_inner textarea {
    resize: none;
    overflow: hidden;
}

.billform_inner input[type="button"]:hover {
    background: linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color: #34CACA;
}

.billform_inner select[name="merchantName"]:hover {
    background-color: #17252A;
}

.form-label {
    color: #ddd;
    margin-left: -10px;
}

h1 {
    margin: 0;
    padding: 0;
}

html, body, .app {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100vh;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup_inner {
    width: 360px;
    height: 300px;
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    background: #17252A;
}

.popup_inner input[type="text"], .popup_inner select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 300px;
    padding: 3px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
    color: #FFFFFF;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #ddd;
}

.popup_inner h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    font-size: 22px;
    font-weight: 100;
    padding-top: 30px;
    margin: 0;
}

.popup_inner textarea {
    resize: none;
    overflow: hidden;
}

.popup_inner input[type="button"]:hover {
    background: linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color: #34CACA;
}

form {
    width: 200px;
    float: left;
    height: 300px;
    margin-left: 20px;
    padding-left: 10px;
  }

.form-label {
    color: #ddd;
    margin-left: 0px;
    font-size: 13px;
}