.header-div{
    margin-top: -2%;
    height: 60px;
    width: 100%;
    -webkit-box-shadow:0px 1px 1px #cfcdcf;
 -moz-box-shadow:0px 1px 1px #cfcdcf;
 box-shadow:0px 1px 1px #cfcdcf;
    color: #FEFFFF;
    padding-top: 50px;
    padding-left: 20px;
    font-size: 24px;
    font-weight: bold;
    background-color: #2B7A78;
}
.headerlabel{
    color: #DEF2F1;
}