.add-merchant-button{
    position: absolute;
    margin-top: -30px;
    margin-left: 589px;
    margin-bottom: 0px;
    padding-bottom: 0;
    background-color: #3AAFA9;
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    font-size: 12px;
    width: 110px;
    border-radius: 2px;
}
.add-merchant-button:hover {
    opacity: 0.8
}
/* .merchant-list {
    list-style: none;
    padding: 0;
}
.merchant-name {
    font-size: 23px;
}
.merchant-list li {
    background: rgb(217, 223, 224);
    padding: 0.25px;
    padding-left: 15px;
    border-radius: 1px;
    margin: 1px;
}
.merchant-list-panel, .merchants-header{
    width: 700px;
    position: relative;
} */