h1 {
  margin: 0;
  padding: 0;
}
html, body, .app {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100vh;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  width: 360px;
  height: 300px;
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: #17252A;
}
.popup_inner input[type="text"],.popup_inner select {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 300px;
	padding: 3px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
  color: #FFFFFF;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #ddd;
}

.popup_inner h2{
	text-align: center;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: white;
	font-size: 22px;
	font-weight: 100;
  padding-top: 30px;
	margin: 0;
}

.popup_inner textarea{
	resize:none;
	overflow: hidden;
}
.form-submit-button{
	-moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	box-shadow: inset 0px 1px 0px 0px #45D6D6;
	background-color: #2CBBBB;
	border: 1px solid #27A0A0;
	display: inline-block;
	cursor: pointer;
  color: #17252A;
  font-weight: bold;
	font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
  margin-top: 2px;
	padding: 8px 18px;
	text-decoration: none;
  text-transform: uppercase;
  width: 300px;
  height: 45px;
  margin-left: 0px;
}
.popup_inner input[type="button"]:hover{
	background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
	background-color:#34CACA;
}

.add-merchant-button{
  margin-top: -47px;
  margin-left: -370px;
  position: absolute;
  padding-bottom: 0;
  background-color: #3AAFA9;
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: center;
  font-size: 14px;
  width: 122px;
  border-radius: 2px;
  font-weight: bold;
}
.add-merchant-button:hover {
  opacity: 0.8
}

form {
  padding-left: 10px;
}

.close-form-button {
  float: right;
  margin-top: -16px;
  margin-right: -5px;
  background: none;
  border: none;
  color: white;
}

.form-label {
  color: #ddd;
  margin-left: 0px;
  font-size: 13px;
}

/* .form-control-placeholder {
  position: absolute;
  color: #ddd;
  top: 0;
  padding-left: 10px;
  padding-top: 30px;
  transition: all 200ms;
  opacity: 0.5;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -50%, 0);
  opacity: 1;
}
.form-group {
  position: relative;
  margin-bottom: 1.5rem;
} */