table, td, th {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table {
  display: table;
  font-size: 14px;
  float: left;
  border-collapse: collapse;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

th {
  padding-left: 20px;
  height: 10px;
  background-color: rgb(241, 241, 241);
  color: #17252A;
}

.table-cell {
  text-align: left;
  font-weight: normal;
}

.table-header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #3AAFA9;
  font-weight: bold;
  border: none;
  color: rgb(241, 241, 241);
}

.bill-filter {
  color: #17252A;
  position: absolute;
  padding-left: 450px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

.bill-filter select {
  width: 161px;
  font-size: 16px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  border: none;
  background: transparent;
  font: 16px;
  height: 45px;
  margin: -10px;
  padding: 0px;
  font-weight: bold;
  color: #2B7A78;
}

.amount-container {
  position: absolute;
  margin-top: -120px;
  margin-left: 410px;
  text-align: right;
  color: rgb(146, 146, 146);
  font-weight: bold;
  font-size: 20px;
}

.amount-due {
  margin-bottom:-21px;
  font-weight: bold;
  font-size: 30px;
  color: #2B7A78;
}

.amount-history-container {
  margin-top: -50px;
  margin-bottom: 20px;
  text-align: right;
  color: rgb(146, 146, 146);
  font-weight: bold;
  font-size: 20px;
}

.date-picker {
  padding-bottom: 200px;
}

.home-bill-table {
  width: 600px;
}

.bill-table {
  width: 600px;
}

.merchant-table {
  width: 400px;
}

.history-table{
  width: 270px;
}

::-webkit-datetime-edit { padding: 1em; }
::-webkit-inner-spin-button { display: none; }